aside {
  height: 100vh;
  transform-origin: left;
}

@media screen and (max-width: 768px) {
  aside {
    position: fixed;
    background-color: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
  }
}
